h1, h2, h3, p {
    margin: 20px;
}

a {
    color: blueviolet;
}

.intro {
    background-color:lightgray;
}

.myindent {
    margin: 30px;
    margin-top: -10px;
}

.datatable {
    width:90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.places{
    width: 96%;
    color: #000;
    background-color: lightskyblue;
}

.places:hover {
    background-color: dodgerblue;
    color: #FFF;
    text-decoration: none;
}

