<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <link rel="stylesheet" href="static/mystyle.css">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
		 <div class="d-flex justify-content-end intro">
		    {% if user_id == 0 %}
		    <h1>user id is {{ user_id }}</h1>
		  	<form action="/login" method="post">
                <div class="input-group">
                    <input type="text" name="username" class="form-control form-control-sm mx-sm-3" placeholder="Username">
                    <input type="password" name="password" class="form-control form-control-sm" placeholder="Password">
                    <button type="button submit" class="btn btn-success mx-sm-3" formatction="/login" method="post">Login</button>
                    <button type="button submit" class="btn btn-primary" formaction="/register" method="post">Register</button>
                </div>
            </form>
            {% else %}
            	<form action="/logout" method="post">
                    <button type="button submit" class="btn btn-primary">Log Out</button>
                </form>
            {% endif %}
        </div>
        <h1>{% block heading %}{% endblock%}</h1>
        {% block body %}
        {% endblock%}
    </body>
</html>
